<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/MobileShopping.css" rel="stylesheet" />
    <title>@ViewBag.Title - OnlineMobileShopping</title>
    <title>OnlineMobileShopping</title>
</head>
<body>
    <div class="nav-bar-top">
        <ul class="nav-bar-list">
            <li class="list">@Html.ActionLink("SignUp", "SignUp", "Account")</li>
            <li class="list">@Html.ActionLink("Login", "Login", "Account")</li>
            <li class="list">@Html.ActionLink("Display", "Display", "Mobile")</li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
