@model MobileShopping.Entity.Account

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/MobileShopping.css" rel="stylesheet" />

<h2 style="text-align:center">Welcome to Login Page</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Get))
{
    <div class="LblLogin">
        <ul class="Loginul">
            <li>
                @Html.LabelFor(model => model.MailId)

            </li>
            <li>
                @Html.LabelFor(model => model.Password)
            </li>
        </ul>
    </div>
    <div class="TxtLogin">
        <ul class="Loginul">
            <li >
                @Html.TextBoxFor(model => model.MailId)
            </li>
            <li>
                @Html.PasswordFor(model => model.Password)
            </li>
        </ul>
    </div>
    <div class="ValidateLogin">
        @Html.ValidationMessageFor(model => model.MailId)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    @*<table border="1" align="center">
            <tr>
                <td> @Html.LabelFor(model => model.MailId)</td>
                <td>
                    @Html.TextBoxFor(model => model.MailId)
                    @Html.ValidationMessageFor(model => model.MailId)
                </td>
            </tr>
            <tr>
                <td> @Html.LabelFor(model => model.Password)</td>

                <td>
                    @Html.TextBoxFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Login" />
                </td>
            </tr>
        </table>*@
}

